<!DOCTYPE html>

<html lang ="en">
<head> 
	<meta charset = "UTF-8">
	<meta name = "viewport" content = "width = device-wdith, initial-scale = 1.0">
	<link href = "/style.css" rel = "stylesheet"i>
</head>
			
<body>
	<header id = "header">
		<nav>
			<div class = "container">
				<div class = "text-center">
					<a> Shopify Crud App</a>
				</div>
			</div>
		</nav>
	</header>
<!-- Table -->
	<main id = "mainTable">
    		<div class = "container">
	    		<div class = "box-nav"></div>
				<table class = "table">
					<thead>
					<tr> 
						<td> 
							<a href = "/insert">
								<span> Add new product</span>
							</a>
						</td>
						<td> </td>
						<td> </td>
						<td>
							<a href = "/downloadCSV" download = "mySqlData.csv">
								<span> Convert data csv </span>
							</a> 
						</td>
						
					</tr>
					<tr>
						<th> SKU_ID </th>
						<th> Product_Name</th>
						<th> Quantity </th>
					</tr>
					</thead>
					<tbody>
						<% for(let i = 0; i < data.length; ++i){ %> 
							<tr>
							<form id = "buttons"  method = "POST">
								<td><%= data[i].id %> </td>
								<td><%= data[i].product_name %></td>
								<td><%= data[i].quantity %></td>
								<td> 	
									<button type = "submit" name = "editReq" value = <%= i %>> Edit </button>
								</td>
								<td>
									<button type = "submit" name = "delete" value = <%= i %>> Delete </button>
								</td>
							</form>
							</tr>
						<%}%> 
					</tbody>
				</table>
		</div>
	</main>
</body>

</html>
